body {
  margin: 0;
  background-color: #1e1e1e; 
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 220px; 
  min-height: 100vh; 
  box-sizing: border-box;
}
